<div class="page-header">
	<h1><%= @user.user_name %></h1>
</div>
 <% @questions.each do |ques| %>
  <div class="well">
  	<%= ques.content %>
  	<hr>
  	<%= link_to time_ago_in_words(ques.created_at), question_path(ques) %> ago
  </div>
<% end %>